@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

@layer components {
  .title {
    @apply text-2xl font-semibold mt-1;
  }
  .card-img {
    @apply w-full h-60 object-cover rounded;
  }
}
